<h2>Quel itinéraire voulez-vous proposer?</h2>


<ul class="list-inline tabs-underlined">
  <li>
      <input id="algoliaSearch" class="form-control tab-underlined active" type="search" placeholder="Affiner ma recherche" aria-label="Search" style="border: 1px solid black; color: black; width: 200px">
  </li>
  <li>
    <a href="#" class="tab-underlined active" id="tab-list">Liste</a>
  </li>
  <li>
    <a href="#" class="tab-underlined" id="tab-map">Carte</a>
  </li>
</ul>


<div class="container" id="content-list">
  <div class="row">
    <% @itineraries.each do |itinerary|  %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= itinerary.picture_url %>');">
          <%= link_to('', itinerary_path(itinerary), class: "card-link") %>
          <div class="card-category card-element-invisible">Popular</div>
          <div class="card-description">
            <div class="card-infos">
              <h2><%=itinerary.title %></h2>
              <%= link_to('', itinerary_path(itinerary), class: "card-link") %>
              <% Itinerary::ACTIVITIES_MAPPING.map do |k, v|%>
                <% if k == itinerary.activities.first  %>
                  <p><%= v %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container" id="content-map" hidden>
  <%= render partial: "mapbox" %>
</div>
