<h2>Quel itinéraire voulez-vous proposer?</h2>
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active" id="tab-list">Liste</a>
  </li>
  <li>
    <a href="#" class="tab-underlined" id="tab-map">Carte</a>
  </li>
</ul>

<div class="container" id="content-list">
  <div class="row">
    <% @itineraries.each do |itinerary|  %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= itinerary.picture_url %>');">
          <%= link_to('', new_itinerary_trip_path(itinerary), class: "card-link") %>
          <div class="card-category card-element-invisible">Popular</div>
          <div class="card-description">
            <div class="card-infos">
              <h2><%=itinerary.title %></h2>
              <%= link_to('', new_itinerary_trip_path(itinerary), class: "card-link") %>
            </div>
          </div>
          <img class="card-user card-element-invisible" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container" id="content-map" hidden>
  <%= render partial: "mapbox" %>
</div>


<%= link_to 'Accueil', root_path, class: "btn btn-primary" %>

