<% itinerary = @trip.itinerary %>
<div class="container">
  <div class="flex-container">
   <div class="flex-object">
     <div class="card-iti">
      <%= image_tag @trip.itinerary.picture_url %>
      <div class="card-category">
        <%= itinerary.activities.join(", ") %>
        <p> par <%= @trip.user.user_name %></p><p> du <%= @trip.start_date %> au <%= @trip.end_date %> </p>

        <ul class="list-inline">
          <!-- <li class="list-inline-item">Avec:</li> -->
          <% @users.each do |user| %>
          <li class="list-inline-item">
            <% if user.picture.file.nil? %>
            <img src="https://loremflickr.com/320/320?lock=1" class="avatar dropdown-toggle" id="navbar-mountain-menu" data-toggle="dropdown">
            <% else %>
            <img src="<%= cl_image_path user.picture, height: 300, width: 400, crop: :fill %>" class="avatar dropdown-toggle" id="navbar-mountain-menu" data-toggle="dropdown">
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="card-iti-description">
        <ul class="list-group">
        <li class="list-group-item trans"><h4 class="text-center"><%= @trip.title %> </h4> </li>
        <li class="list-group-item trans"> <%= @trip.itinerary.title %> </li>
        <% if @trip.itinerary.diffculty != nil %>
          <li class="list-group-item trans">Difficulté: <%= @trip.itinerary.diffculty %></li>
        <% end %>
        <% if @trip.itinerary.elevation_max != nil %>
          <li class="list-group-item trans">Altitude maximale: <%= @trip.itinerary.elevation_max %>mètres</li>
        <% end %>

        <% if @trip.itinerary.height_diff_up != nil %>
          <li class="list-group-item trans">Dénivelé: <%= @trip.itinerary.height_diff_up %>mètres</li>
        <% end %>

        <% if @trip.itinerary.number_of_outings != nil %>
          <li class="list-group-item trans">Outings: <%= @trip.itinerary.number_of_outings %></li>
        <% end %>

            <% if @users.empty? %>
            <li class="list-group-item trans"><span id="participants">Aucun participant pour l'instant.</span></li>
          <% else %>
            <li class="list-group-item trans"><span id="participants">Participants: <%= @users.map { |user| user.user_name }.join(" ,") %></span></li>
        <% end %>
        </ul>

      </div>
      <div>

        <!-- Button trigger modal -->
        <button type="button " class="btn btn-primary outline card-button" data-toggle="modal" data-target="#myModal">
          Je veux participer
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel" style="color:black;">Votre message</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@trip, @user_trip] do |f| %>
                  <%= f.input :default_message, placeholder: "Pourquoi voulez-vous vous joindre à cette sortie ?", label: false %>
                </div>
                <div class="modal-footer">
                  <div><%= f.submit :Demander, class: "btn btn-primary outline" %></div>
                </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="flex-object description trip-element">
      <h4>Description</h4>
      <%= render partial: "./itineraries/description", locals: {itinerary: itinerary} %>
    </div>


    <!-- Add for demo -->
    <div class="flex-object trip-element">
      <h4>Météo</h4>
      <img src=<%= "https://my.meteoblue.com/visimage/meteogram_web?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&cache=no&city=45.91%C2%B0N+6.56%C2%B0E&iso2=&lat=45.913&lon=6.564&asl=1873&tz=Europe%2FParis&lang=fr&ts=1550845630&sig=55636a258fcf1be56e013ad5669107e8" %> alt="Météo">
    </div>


    <div class="flex-object">
      <iframe src=<%= "https://fatmap.com/@#{itinerary.coord_lat},#{itinerary.coord_long},#{itinerary.elevation_max},-35.9049826,92.6848191,2388.9221056,normal" %> frameborder="" allowfullscreen="" width="100%" height="600"></iframe>
    </div>
  </div>
</div>




