<% itinerary = @trip.itinerary %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('<%= itinerary.picture_url %>');">
  <div class="card-category">
    <%= itinerary.activities.join(", ") %>
  </div>
  <div class="card-description">
    <h2><%= @trip.title %> - <%= @trip.itinerary.title %></h2>
    <p>Sortie du <%= @trip.start_date %> au <%= @trip.end_date %> créée par <%= @trip.user.user_name %></p>
  </div>
  <div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary card-button" data-toggle="modal" data-target="#myModal">
      Je veux participer
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel" style="color:black;">Votre message</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@trip, @user_trip] do |f| %>
            <%= f.text_area :default_message, placeholder: "Pourquoi voulez-vous vous joindre à cette sortie ?", label: false, style: "width: 500px;" %>
          </div>
          <div class="modal-footer">
              <div><%= f.submit :Demander, class: "btn btn-primary" %></div>
          </div>
            <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="flex-container">
    <div class="flex-object">
      <h4>Description</h4>
      <p>
        <%= itinerary.content %>
      </p>
    </div>
    <div class="flex-object">
      <h4>Météo</h4>
        <img src=<%= "http://my.meteoblue.com/visimage/meteogram_web?apikey=41f2dd49fb6a&lat=#{itinerary.coord_lat}&lon=#{itinerary.coord_long}&asl=#{itinerary.elevation_max}" %> alt="Météo">
    </div>
    <div class="flex-object">
      <h4>3D Map</h4>
        <iframe src=<%= "https://fatmap.com/@#{itinerary.coord_lat},#{itinerary.coord_long},24320.4784125,-35.9049826,92.6848191,2388.9221056,normal" %> frameborder="" allowfullscreen="" width="100%" height="600"></iframe>
    </div>
  </div>
</div>




