<% itinerary = @trip.itinerary %>
<% activities = itinerary.activities.gsub("[", "").gsub("]", "").gsub("\"", "").split(",") %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('<%= itinerary.picture_url %>');">
  <div class="card-category">
    <%= activities.join(" ,") %>
  </div>
  <div class="card-description">
    <h2><%= @trip.title %></h2>
    <p>Sortie du <%= @trip.start_date %> au <%= @trip.end_date %> créée par <%= @trip.user.user_name %></p>
  </div>
  <div>
    <%= link_to("(i) #{@trip.messages.count} messages", trip_messages_path(@trip), class: "btn btn-primary card-button") %>
  </div>
</div>

<div class="container">
  <div class="flex-container">
    <div class="flex-object">
      <h4>Description</h4>
      <p>
        <%= itinerary.content %>
      </p>
    </div>
    <div class="flex-object">
      <h4>Météo</h4>
        <img src=<%= "http://my.meteoblue.com/visimage/meteogram_web?apikey=41f2dd49fb6a&lat=#{itinerary.coord_lat}&lon=#{itinerary.coord_long}&asl=#{itinerary.elevation_max}" %> alt="Météo">
    </div>
    <div class="flex-object">
      <h4>3D Map</h4>
        <iframe src=<%= "https://fatmap.com/@#{itinerary.coord_lat},#{itinerary.coord_long},24320.4784125,-35.9049826,92.6848191,2388.9221056,normal" %> frameborder="" allowfullscreen="" width="100%" height="600"></iframe>
    </div>
  </div>
</div>

<%= link_to('Request', trip_user_trips_path(@trip), method: :post) %>


