<div class="navbar-mountain navbar-fixed-top">

  <a href="/" class="navbar-mountain-logo">
    <%= image_tag('logo-mountain.png') %>
  </a>
  <div class="navbar-mountain-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <!-- Links when logged in -->
    <%= link_to ("<i class='fas fa-plus-circle'></i>
    Proposer une nouvelle sortie").html_safe, itineraries_path, class: "navbar-mountain-item navbar-mountain-link" %>
    <!--<%= link_to "Mes Sorties", "#", class: "navbar-mountain-item navbar-mountain-link" %>-->
    <!--liens actifs pour mes sorties et proposer sortie à intégerer au design de la nav bar-->
    <%=  link_to "Mes sorties", my_trips_path, class: "navbar-mountain-item navbar-mountain-link" %>
    <div class="navbar-mountain-item">
      <div class="dropdown">
        <img src= <%= @user.avatar %> class="avatar dropdown-toggle" id="navbar-mountain-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-mountain-dropdown-menu">
          <li><a href="#">Profil</a></li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to "S'inscrire", new_user_registration_path, class: "navbar-mountain-item navbar-mountain-link" %>
    <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-mountain-item navbar-mountain-link" %>
    <% end %>
    <!-- Profile picture with dropdown list -->
  </div>

  <div class="navbar-mountain-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-mountain-dropdown-menu">
        <li><a href="">
        <i class="fas fa-plus-circle"></i>
          Proposer une nouvelle sortie
        </a>
        </li>
        <li><a href="#">Mes sorties</a></li>
        <li><a href="#">Messages</a></li>
        </ul>
    </div>
  </div>
</div>